 <app-header></app-header>


<div calss="container" >
    <br>
    <div routerLink="/authordashboard" >
        <button>Go Back To DashBoard</button>
    </div>
    <p class="text-left fs-8" [ngClass]="isAccountCreate ? 'text-success pb-1': 'text-danger'">
        {{result}}
        </p>
<form class="border p-3 rounded"  [formGroup]="createBookForm"  (ngSubmit)="createBook()">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Create Book</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3" >
            <label for="title" class="form-label">Title</label>
        </div>
        <div class="col mb-3 " >
            <input type="text" class="form-control" id="title"formControlName="title" >
            <div class="form-text text-danger" *ngIf="Title.errors?.['required'] && (Title.touched || Title.dirty)">Book title is rquired</div>
        </div>
        <div class="col mb-3">
            <label for="code" class="form-label">Code</label>
        </div>
        <div class="col mb-3">
            <input type="text" class="form-control" id="code" formControlName="code"/>
            <div class="form-text text-danger" *ngIf="Code.errors?.['required'] && (Code.touched || Code.dirty)">Code is rquired</div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="publisher" class="form-label">Publisher </label>
        </div>
        <div class="col mb-3">
            <input type="text" class="form-control" id="publisher" formControlName="publisher"/>
            <div class="form-text text-danger" *ngIf="Publisher.errors?.['required'] && (Publisher.touched || Publisher.dirty)">Name is rquired</div>
        </div>
        <div class="col mb-3">
            <label for="price" class="form-label">Price</label>
        </div>
        <div class="col mb-3">
            <input type="text" class="form-control" id="price" formControlName="price" />
            <div class="form-text text-danger" *ngIf="Price.errors?.['required'] && (Price.touched || Price.dirty)">Price is rquired</div>
        </div>
    </div>
   
    
    <div class="row mb-3" >
        <div class="col mb-3">
            <label for="category" class="form-label">Category</label>
        </div>
        <div class="col ps-3">
            <input type="text" class="form-control" id="category" formControlName="category" />
            <div class="form-text text-danger" *ngIf="Category.errors?.['required'] && (Category.touched || Category.dirty)">Book categoryis rquired</div>
        </div>
        </div>
        <div class="row mb-3">
        <div class="col mb-3">
            <div class="mb-3">Book Status</div>
         </div>
         <div class="col mb-3">   
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="true" id="author" formControlName="status">
                <label for="author" class="form-check-label">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="false" id="reader" formControlName="status">
                <label for="reader" class="form-check-label">Inactive</label>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col mb-3">
            <label for="content" class="form-label">Content</label>
        </div>
        <div class="col mb-3">
            <textarea class="form-control" id="content" formControlName="content"></textarea>
            <div class="form-text text-danger" *ngIf="Content.errors?.['required'] && (Content.touched || Content.dirty)">Book content is rquired</div>
        </div>
        
    </div>
      <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
      </div>  
</form>
</div>
