<app-header></app-header>


<div calss="container"  >
    <br>
    <div routerLink="/readerdashboard" >
        <button>Go Back To DashBoard</button>
    </div >
    <div  *ngIf="ngbook?.length" >
        <h3>Search Result</h3>
        <table class="table table-striped table-hover">  
        <thead class="table-dark">  
          <tr>  
            <th scope="col"> BookID</th>  
            <th scope="col">Title</th>  
            <th scope="col">Code</th>  
            <th scope="col" >Auther ID </th>  
            <th scope="col" >Category</th>  
            <th scope="col" >Price</th>  
            <th scope="col" >Publisher</th>  
            <th scope="col">Date Of Subscription</th>
            <th scope="col">Subscription ID</th>
            <th scope="col">Read Book</th>
          </tr>  
        </thead>  
        <tbody>  
                <tr *ngFor="let p of ngbook">   
                  <td>{{p.bookId}}</td>   
                  <td>{{p.title}}</td>   
                  <td>{{p.code}}</td>   
                  <td>{{p.autherId}}</td> 
                  <td>{{p.category}}</td> 
                  <td>{{p.price}}</td> 
                  <td>{{p.publisher}}</td>    
                  <td>{{p.dateOfSubscription}}</td>    
                  <td>{{p.subscriptionId}}</td>    
                  <td><button (click)="read(p.subscriptionId)">Read</button></td>  
                  </tr>   
                  <tr>  
                </tbody>  
              </table>  
    </div>
</div>